
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="row">
<div class= "col-4 srchbx">
   <div *ngIf = '!addUserPage'>
    <input class="form-control srchin" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Seach Candidate">
    <button class="btnsrch" title="Add Candidate"  (click)="onAddUser()">
      <i class="material-icons">add</i>
    </button>
   </div>

</div>
<div class="col-4">
  <span *ngIf = 'addUserPage'> <app-add-candidate></app-add-candidate></span>
</div>

<div class="col-4 mcard" *ngIf = '!addUserPage'>
<mat-card class="mcarddata" *ngFor="let user of users | async | filter:searchText">
<span class="name">{{user.name}}  ({{user.gender}})</span><br>
<span>{{user.state}}</span><br>
 <span>{{user.status}}</span> <br>
 <span>{{user.skills}}</span><br><br>
 <span class="btnsel" ><button class="btnsel1">Select</button></span>
 <span><button class="btnreject">Reject</button></span>

</mat-card>
</div>
</div>
</body>


